.vscode
project/db-data
mail-service/mailApp
mail-service/mailerApp
logger-service/loggerServiceApp
broker-service/brokerApp
authentication-service/authApp
front-end/frontApp
listener-service/listenerApp
front-end/frontEndApp
.DS_Store